@using PasswordGeneratorWasm.Shared.Clipboard.Meziantou

@inject ClipboardService clipboard

<div class="form-group">
	<div class="form-group">
		<input type="text" id="lblText1" class="form-control" @bind-value="@Text" />
		<button id="btnCopy" class="btn btn-success" @onclick="CopyToClipboard"><i class="bi bi-copy"></i>Copy</button>
	</div>
	<div class="form-group">
		<input type="text" id="lblText2" readonly class="form-control"value="@text" />
		<button id="btnPaste" class="btn btn-primary" @onclick="ReadFromClipboard"><i class="bi bi-clipboard"></i>Paste</button>
	</div>
	<button id="btnClear" class="btn btn-outline-danger ml-2 mr-2" @onclick="Clear">
		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
			<path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
		</svg>
		Clear
	</button>
	<h5>@result</h5>


</div>
@code {
	// https://www.meziantou.net/copying-text-to-clipboard-in-a-blazor-application.htm

	[Parameter]
	public string Text { get; set; }

	private string text;
	private string result;

	public async Task CopyToClipboard()
	{
		// Writing to the clipboard may be denied, so you must handle the exception
		try
		{
			if (string.IsNullOrEmpty(Text))
				result = $"nothing to be copied";
			else
			{
				await clipboard.WriteTextAsync(Text);
				result = $"the '{Text}' was copied into the clipboard.";
			}
		}
		catch (Exception ex)
		{
			result = $"copying failed, {ex.Message}.";
		}
	}
	public async Task ReadFromClipboard()
	{
		// Reading from the clipboard may be denied, so you must handle the exception
		try
		{
			text = await clipboard.ReadTextAsync();

			if (String.IsNullOrEmpty(text))
				text = "(null or empty)";

			result = $"the clipboard contains '{text}'.";
		}
		catch (Exception ex)
		{
			result = $"pasting failed, {ex.Message}.";
		}
	}

	public void Clear()
	{
		Text = "";
		text = "";
		result = "";
	}


}
